* {
    padding: 0;
    margin: 0;
    font-size: 60px;
    color: rgb(140, 105, 0);
}

body {
    background: rgb(184, 209, 178) url("../images/ifetaskasset/background.jpg") no-repeat center center fixed;
}

#header {
    height: 180px;
    display: flex;
    align-items: center;

}


#data {
    display: flex;
    border: rgb(140, 105, 0) 15px solid;
    width: 30%;
    height: 70%;
    border-radius: 25% 25% 25% 25%/50% 50% 50% 50%;
    background-image: -webkit-gradient(linear, 0% 49%, 0% 51%, from(rgb(255, 230, 153)), to(rgb(255, 210, 77)));
    text-align: center;
    align-items: center;
    margin-left: 3%;
}

#week {
    display: inline-block;
    margin-left: 10%;

}

#day {
    display: inline-block;
    margin-left: 10%;

}

#money {
    border: rgb(140, 105, 0) 15px solid;
    width: 50%;
    height: 70%;
    border-radius: 15% 15% 15% 15%/50% 50% 50% 50%;
    background-image: -webkit-gradient(linear, 0% 49%, 0% 51%, from(rgb(255, 230, 153)), to(rgb(255, 210, 77)));
    margin-left: 8.5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#fund {
    margin-right: 10%;
    background-image: -webkit-gradient(linear, 0% 49%, 0% 51%, from(rgb(255, 230, 153)), to(rgb(255, 210, 77)));
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#kitchen {
    width: 90%;
    height: 600px;
    margin-top: 10%;
    display: inline-block;
    border-radius: 10%;
    border: white 15px solid;
    background: rgb(255, 166, 77);
}

#kitchen>img {
    display: inline-block;
    margin: 4% 3% 3% 4%;
}

#kitchen>h3 {
    display: inline-block;
    width: 200px;
    height: 50px;
    border: white 8px solid;
    position: fixed;
    margin: 235px 3% 3% 4%;
    z-index: 10;
    color:white;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

#meal{
    position: fixed;
    z-index: 30;
    width: 180px;
    height: 180px;
    top:350px;
    left: 310px;
}

#cha{
    position: fixed;
    z-index: 30;
    width: 180px;
    height: 180px;
}


#table {
    width: 90%;
    height: 600px;
    margin-top: 40%;
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 10%;
    border: white 15px solid;
    background: rgb(255, 166, 77);
    overflow: hidden;
    transition: transform 3s;
    justify-content: center;
}

#table:hover {
    transform: rotate(360deg);
}


.color_gray {
    background-image: -webkit-gradient(linear, 49% 0%, 51% 0%, from(rgb(221, 221, 221)), to(rgb(170, 170, 170)));
}

.color_red {
    background-image: -webkit-gradient(linear, 49% 0%, 51% 0%, from(rgb(255, 38, 38)), to(rgb(178, 0, 0)));
}

.color_green {
    background-image: -webkit-gradient(linear, 49% 0%, 51% 0%, from(rgb(128, 255, 0)), to(rgb(0, 178, 0)));
}

.color_brown {
    background-image: -webkit-gradient(linear, 49% 0%, 51% 0%, from(rgb(102, 26, 0)), to(rgb(64, 16, 0)));
}

.color_blue {
    background-image: -webkit-gradient(linear, 49% 0%, 51% 0%, from(rgb(38, 147, 255)), to(rgb(0, 109, 217)));
}

.color_orange {
    background-image: -webkit-gradient(linear, 49% 0%, 51% 0%, from(rgb(255, 145, 34)), to(rgb(217, 109, 0)));
}

.color_reorange0 {
    background-image: -webkit-gradient(linear, 49% 0%, 51% 0%, from(rgb(217, 109, 0)), to(rgb(255, 145, 34)));
}

.color_reorange3 {
    background-image: -webkit-gradient(linear, 69% 0%, 71% 0%, from(rgb(217, 109, 0)), to(rgb(255, 145, 34)));
}

.place {
    margin: 5% 20% 0px 20px;
}

.avatar {
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 50%;
    border: white 10px solid;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}