* {
    padding: 0;
    margin: 0;
    color: #8c6900;
}

html {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    /* 设置背景图片居中 */
    background: #b8d1b2 url("../images/ifetaskasset/background.jpg") no-repeat center center;
    background-size: contain;
    /*设置图片为布满整个屏幕*/
}

/* 遮罩层 比弹窗div z-index小1 大于其他一切z-index*/
#cover {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    display: none;
    z-index: 4;
}

/* 人物头像大小及背景颜色 */
.avatar {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: white 0.3em solid;
}

.mealProgress {
    background-color: rgb(217, 109, 0);
    color: rgb(255, 145, 34);
}

.mealProgress::-webkit-progress-bar {
    background-color: rgb(255, 145, 34);
}

.mealProgress::-webkit-progress-value {
    background-color: rgb(217, 109, 0);
}

/* 头部日期和钱数显示区域 */
#header {
    height: 10%;
    position: relative;

}

/* 日期区域 */
#data {
    border: rgb(140, 105, 0) 0.4em solid;
    width: 25%;
    height: 40%;
    border-radius: 58px;
    background-image: -webkit-gradient(linear, 0% 49%, 0% 51%, from(rgb(255, 230, 153)), to(rgb(255, 210, 77)));
    line-height: 30px;
    text-align: center;
    position: absolute;
    left: 3%;
    top: 20%;
}

/* 钱数区域 */
#money {
    border: rgb(140, 105, 0) 0.4em solid;
    width: 50%;
    height: 40%;
    border-radius: 60px;
    background-image: -webkit-gradient(linear, 0% 49%, 0% 51%, from(rgb(255, 230, 153)), to(rgb(255, 210, 77)));
    line-height: 30px;
    text-align: end;
    position: absolute;
    right: 3%;
    top: 20%;
}

/* 钱数数字部分 */
#fund {
    margin-right: 10%;
    background-image: -webkit-gradient(linear, 0% 49%, 0% 51%, from(rgb(255, 230, 153)), to(rgb(255, 210, 77)));
}

/* 主体部分 */
#main {
    width: 100%;
    height: 86%;
}

/* 厨师所在区域即厨房（大小与弹窗和顾客区域相同） z-index为1
    position为relavitive
*/
#kitchen {
    width: 90%;
    height: 35%;
    border-radius: 10%;
    border: white 0.6em solid;
    background: rgb(255, 210, 77);
    position: relative;
    z-index: 1;
    left: 1.8%;
}

/* 单个厨师自身区域的div 即每个厨师的小区域  
    position为absolute相对于厨师区域绝对定位
    z-index为2 位于厨师区域之上
*/
#kitchen>div {
    position: absolute;
    z-index: 2;
    width: 5em;
    height: 5em;
}

/* 厨师头像图片在厨师的小区域内的定位 */
.chef {
    position: absolute;
    left: 3%;
    top: 3%;
}

/* 厨师小区域在厨房的定位 */
#chef1 {
    top: 3%;
    left: 3%;
}

#chef2 {
    top: 3%;
    left: 38%;
}

#chef3 {
    top: 3%;
    right: 3%;
}

#chef4 {
    top: 53%;
    left: 3%;
}

#chef5 {
    top: 53%;
    left: 38%;
}

/* 厨师上菜图标 (在单个厨师的自身小区域内) 
    z-index为3覆盖在单个厨师区域之上 主要是为了覆盖厨师头像
*/
.meal {
    width: 3em;
    height: 3em;
    position: absolute;
    z-index: 3;
    left: -10%;
    bottom: 10%;
}

/*删除厨师按钮图片 (在单个厨师的自身小区域内) 
    z-index为3覆盖在单个厨师区域之上 主要是为了覆盖厨师头像*/
.cha {
    width: 2em;
    height: 2em;
    position: absolute;
    z-index: 3;
    top: 0;
    right: -0.5em;
}

/* 厨师底部做菜名称 (在单个厨师的自身小区域内) 
    z-index为4覆盖在progress之上*/
#kitchen .mealName {
    color: white;
    font-size: 0.8em;
    font-weight: normal;
    position: absolute;
    text-align: center;
    width: 94%;
    z-index: 4;
    bottom: -3%;

}

#kitchen .mealFinish {
    background-color: rgb(172, 145, 255);
    border: white 0.12em solid;
}

/* 厨师底部做菜进度条 (在单个厨师的自身小区域内) 
    z-index为3覆盖在厨师自身区域之上 菜名之下*/
#kitchen progress {
    width: 94%;
    height: 25%;
    border: white 0.12em solid;
    position: absolute;
    z-index: 3;
    left: 3%;
    bottom: -5%;
}

/* 背景音乐控制区域 
    z-index仅为1在背景之上*/
#main>h3 {
    width: 90%;
    height: 7%;
    border-radius: 65px;
    border: white 0.2em solid;
    position: absolute;
    background: rgb(255, 166, 77);
    z-index: 1;
    line-height: 53px;
    text-align: center;
    font-size: 1.2em;
    top: 45%;
    left: 3%;
}

/* 顾客所在区域即餐桌
    position为relavitive
    z-index仅为1在背景之上 */
#table {
    width: 90%;
    height: 35%;
    border-radius: 10%;
    border: white 0.6em solid;
    background: rgb(255, 166, 77);
    position: relative;
    z-index: 1;
    left: 1.8%;
    top: 16%;
}


/* 单个顾客自身区域的div 即每个顾客的小区域  
    position为absolute相对于餐桌绝对定位
    z-index为2 位于餐桌之上
*/
#table>div {
    position: absolute;
    z-index: 2;
}

/* 厨师头像图片在厨师的小区域内的定位 */
.customer {
    left: 3%;
    top: 10%;
}

#place1 {
    width: 8em;
    height: 5em;
    top: 5%;
    left: 3%;
}

#place2 {
    width: 8em;
    height: 5em;
    top: 5%;
    right: 5%;
}

#place3 {
    width: 8em;
    height: 5em;
    top: 53%;
    left: 3%;
}

#place4 {
    width: 8em;
    height: 5em;
    top: 53%;
    right: 5%;
}

#place5 {
    width: 5em;
    height: 5em;
    top: 90%;
    right: 11%;
}

#place6 {
    width: 5em;
    height: 5em;
    top: 90%;
    right: -5%;
}

/* 5,6等待顾客下面的等待条
    z-index为3覆盖在顾客头像之上 */
.under_case {
    width: 90%;
    height: 20%;
    border: white 0.12em solid;
    color: white;
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0px;
}

/* 顾客的状态图片 心和钱
    z-index为3覆盖在顾客头像之上 */
.status {
    width: 40%;
    height: 64%;
    position: absolute;
    z-index: 3;
    left: -8%;
    bottom: -5%;
}

/* 顾客桌面的菜的框
     z-index为4覆盖在进度条之上*/
#table .mealName {
    width: 55%;
    height: 20%;
    color: white;
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
    position: absolute;
    line-height: 16px;
    z-index: 4;
    right: -3%;
}

/* 顾客的菜的进度条大小和位置  */
#table .progress {
    width: 58%;
    height: 23%;
    border: white 0.12em solid;
    position: absolute;
    z-index: 3;
    right: -4.5%;
}


#table .mealUnfinish {
    border: white 0.12em solid;
    background-color: rgb(83, 83, 98);
    text-decoration: line-through;
}

#table .mealFinish {
    border: white 0.12em solid;
    background-color: rgb(0, 178, 0);
    text-decoration: line-through;
}

/* 菜的3个位置 */
.meal_box1 {
    top: 0.8em;
}

.meal_box2 {
    top: 2.4em;
}

.meal_box3 {
    top: 4.0em;
}

/* progres的三个位置 */
.mealBox1 {
    top: 0.6em;
}

.mealBox2 {
    top: 1.9em;
}

.mealBox3 {
    top: 3.15em;
}